@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

body {
  margin: 0;
  background: #0e0e0e;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  color: azure;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.title {
  text-align: center;
}

.center-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.left-side,
.right-side {
  height: 80vh;
  border: 1px solid black;
  font-size: 25px;
  padding: 10px 20px;
}

.left-side {
  background-color: #202020;
  color: aliceblue;
  margin-right: 2rem;
}

.right-side {
  background-color: #797575;
  border-radius: 20px;
}

a {
  color: red;
}

p {
  position: relative;
  bottom: 8rem;
  left: 10rem;
  font-size: 4rem;
}

.btn {
  color: white;
  margin-right: 7rem;
}

.btn:hover {
  color: aqua;
}

@media (max-width: 768px) {
  .center-div {
    width: 80vw;
    margin: 100px auto;
    display: block;
  }

  .left-side,
  .right-side {
    width: 100%;
  }
}